<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rafaelmatucheski.street2androidproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Street 2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InsertPessoaActivity" />
        <activity
            android:name=".ListCadastroActivity"
            android:label="Street 2"
            android:parentActivityName=".InsertPessoaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InsertPessoaActivity" />
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".InsertOnibusActivity" />
        <activity
            android:name=".ListOnibusActivity"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InsertOnibusActivity" />
        </activity>
        <activity android:name=".MenuuActivity" />
        <activity
            android:name=".ListOnibussActivity"
            android:parentActivityName=".MenuuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InsertOnibusActivity" />
        </activity>
        <activity android:name=".InsertOnibussActivity" />
        <activity android:name=".InsertRotasActivity" />
        <activity
            android:name=".ListRotasActivity"
            android:parentActivityName=".MenuuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InsertRotasActivity" />
        </activity>
        <activity android:name=".ListRotassActivity"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InsertRotasActivity" />
        </activity>
    </application>

</manifest>