<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rafaelmatucheski.street2androidproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Criar_Cadastro"
            android:label="@string/app_name"
            android:parentActivityName=".Criar_Cadastro"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Criar_Cadastro" />
        </activity>
        <activity
            android:name=".Onibus_Lista"
            android:label="@string/app_name"
            android:parentActivityName=".Onibus_Lista"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Onibus_Lista" />
        </activity>
        <activity android:name=".InsertPessoaActivity"/>
        <activity android:name=".ListCadastroActivity"
            android:label="ListCadastroActivity"
            android:parentActivityName=".InsertPessoaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".InsertPessoaActivity"/> </activity>

    </application>

</manifest>